@charset "Utf-8";

body{
    background-image: linear-gradient(to top, #0B3954, #559CAD);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-attachment: fixed;
}

h1{
    color: white;
}
h2{
    color: white;
}
h3{
    color: white;
}
p{
    color: white;
}
li{
    color: white;
}

#minhaImagem {
    width: 170px; /* Altere para o tamanho desejado */
    height: auto; /* Mantém a proporção da imagem */
}
img{
    width: 15px;
}

a{
    color:#98b9f2 ;
}