@charset "Utf-8";

@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font: 20px "work sans", sans-serif;
    background-image: linear-gradient(to bottom, #5e548e, #231942);
    background-attachment: fixed;
}

main{
    padding: 20px;
    margin: auto;
    min-width: 280px;
    max-width: 1000px;
    background-color: #312c4c;
    border-radius: 10px;
}

h1{
    font-family: "limelight", sans-serif;
    color: #F5DDDD;
    text-align: center;
}

h2, h3{
    font-family: "limelight", sans-serif;
    color: #F5DDDD;
    
}

p{
    color: #F5DDDD;
    text-align: justify;
    text-indent: 20px;
}

li{
    color: #F5DDDD;
}

#minhaImagem {
    width: 200px;
    height: auto;
    display: block;
    margin: auto;
}

img{
    width: 15px;
}

a{
    text-decoration: none;
    color:#A3BCF9 ;
}

a::before{
    content: '» ';
}

a::after{
    content: ' «';
}

a:hover{
    color: #325cc7;
    text-decoration: underline;
}